
.container{
    border: 2px solid rebeccapurple;
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px 100px; */
    /* grid-template-columns: repeat(3,150px); */
    /* grid-template-columns: repeat(4,100px) 50px 75px; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat(4,1fr) 2fr; */
    /* grid-template-columns: 100px auto auto 100px; */
    /* justify-content: center; */
}


.item{
    border: 1px solid rgb(4, 247, 101);
}