.container{
    display: flex;
    gap: 20px;
}

.box{
    background-color: skyblue;
    padding: 20px;
    border-radius: 20px;
}

.container2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.item{
    border: 2px solid #fc0e0e;
    background-color: rgb(13, 255, 198);
}

@media screen and (max-width: 576px) {
    .container{
        flex-direction: column;
    }

    .container2{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (min-width: 577px) and (max-width: 900px){
    .container2{
        grid-template-columns: repeat(2,1fr);
    }
}