/* Import Font Style */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* Common styles*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}


/* header section styles */
.header-container{
    width: 82%;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('../images/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.cover-title{
    color: #FFF;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    padding-top: 127px;
}

.cover-headline{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    font-family: Merriweather;
    line-height: 95px; /* 131.944% */
    width: 632px;
    margin: 0 auto;
}

/* Main Section styles */
/* Section1 styles */
.section-1{
    text-align: center;
    margin-bottom: 120px;
}

.section-1-h2{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.section-1-h4{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-1-h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* section2 styles */
.section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px; 
    background-image:  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    margin-bottom: 120px;
}

.section-2-h2{
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-left: 126px;
    margin-top: 80px;
}

.section-2-p{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-left: 126px;
}

.section-2-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    margin-left: 158px;
    margin-top: 20px;
    border: 0px;
}

.section-2-btn:hover{
    cursor: pointer;
}

.section-2-div1 img{
    margin-right: 251px;
}

/* section3 styles */
.section-3{
    width: 82%;
    height: 600px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding-top: 100px;
    margin-bottom: 120px;
    border-radius: 16px;
}

.section-3-h4{
    color: #070211;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

span{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}

.section-3-btn{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: 0px;
    color: #FFF;
    margin-top: 20px;
}

.section-3-btn:hover{
    cursor: pointer;
}

/* section4 styles */
.section-4{
    width: 82%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.section4-div1-h3{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;;
}

.section4-div1-h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section4-div1-p{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-right: 70px;
}

.section4-div2-img{
    border-radius: 364.844px;
    border-radius: 463px;
    padding: 20px;
    border: 15px solid #F00;
    margin-right: 118px;
}

.section4-div3-h2{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.section4-div3-p{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
}

/* section5 styles */
.section-5{
    width: 82%;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 120px;
}

.sectiom5-h4{
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
}

.section5-h1{
    text-align: center;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 7px;
}

.section5-span{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;;
    font-weight: 900;
}

.section5-p{
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    margin-bottom: 10px;
}

.section5-div1{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    background-image: url('../images/Rectangle\ 2.png'); 
    background-size: cover;
    background-position: center bottom;
}

.section5-div1-img1{
    width: 429px;
    height: 433px;
    flex-shrink: 0;
}

.secton5-div1-img2{
    width: 206.841px;
    height: 206.841px;
    flex-shrink: 0;
    fill: #F00;
}

.secton5-div1-img3{
    width: 429px;
    height: 433px;
    flex-shrink: 0;
}

/* section6 styles */
.section-6{
    width: 82%;
    margin: 0 auto;
}

.section6-h4{
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

.section6-h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.section6-p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 48px;
}

.section6-div1{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.section6-div2{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.section6-img:hover{
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(239, 0, 0, 0.5);
}

/* section7 styles */
.section-7{
    width: 82%;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;
}
.section7-img{
    margin-top: 80px;
}

.section7-h2{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 22px;
}

.section7-p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 48px;
}

.section7-inp{
    width: 400px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px 0px 0px 20px;
    background: #FFF;
    border: 0px;
}

.section7-btn{
    width: 180px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0px;
    color: #FFF;
}

.section7-btn:hover{
    cursor: pointer;
}



/* Footer section styles */

footer{
    background-color: #000;
    color: #fff;
}

.footer-div1{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-div1-sub1{
    margin-left: 120px;
    margin-top: 120px;
}

.footer-div1-sub2{
    margin-right: 275px;
    margin-top: 120px;
}

hr{
    text-align: center;
    width: 1320px;
    height: 1px;
    margin-left: 100px;
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 20px;
}

.footer-div2{
    text-align: center;
}

.footer-div2-img{
    gap: 10px;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.footer-div3{
    display: flex;
    justify-content: space-between;
}

.footer-div3-p{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.footer-div2-img:hover{
    cursor: pointer;
}