nav{
    background-color: rgb(15, 39, 255);
    text-align: center;
    height: 30px;
}

nav ul li{
    margin: 10px;
    display: flex;
    display: inline;
    
    
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}



