nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 10px;
    padding: 20px;
}


nav ul li a{
    text-decoration: none;
    color: #000;
}

nav ul li a:hover{
    color: rgb(0, 30, 255);
}

#dropdown{
    display: none;
}

nav ul li:hover #dropdown{
    display: block;
}